{% extends "base_modify_modal.html" %}
{% block actionURL %}
{% url 'backtest:modifytechnical' indicator=indicator tech_id=tech_id id_strategy=id_strategy requestfrom=requestfrom requestrule=requestrule %}
{% endblock %}
{% block title %}
{{ indicator_property.name }}
{% endblock %}
{% block description %}
{{ indicator_property.description }}
{% endblock %}
{% block content %}
{{ form.as_p }}
{% endblock content %}
{% block deleteURL %}
{% url 'backtest:deletetechnical' tech_id=tech_id id_strategy=id_strategy requestfrom=requestfrom requestrule=requestrule %}
{% endblock %}