{% extends "tools/ranking_system/base_ranking_system.html" %}

{% load static %}

{% block content %}
<div class="table-container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-4">
            <form action="#" method="post">
                {% csrf_token %}
                <h2 class="strategy_title text-left">Ranking System Load List</h2>
                <label>File List:</label>
                <select class="form-control" name="file_name" required>
                    {% for file in load_files %}
                    <option value="{{ file  }}">{{ file }}</option>
                    {% endfor %}
                </select>
                <label>Parent Folder:</label>
                <select class="form-control" name="parent_id" required>
                    {% if user.is_superuser %}
                    <option value="d">Default folder</option>
                    {% endif %}
                    <option value="0">Top level</option>
                    {% for folder in folders %}
                    <option value="{{ folder.id }}">{{folder.path}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Load" class="btn btn-primary pull-right" style="margin-top: 30px" />
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<script>

</script>
{% endblock content %}